<?xml version="1.0" encoding="utf-8"?>
<!--
このファイルは、Web プロジェクトの公開 / パッケージ処理で使用されます。この MSBuild ファイルを編集すると、
この処理の動作をカスタマイズできます。詳細については、https://go.microsoft.com/fwlink/?LinkID=208121 を参照してください。 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8d93d78b-0f26-4b8d-aa75-74b43b95ea4c/resourceGroups/azure-learning/providers/Microsoft.Web/sites/azure-lerning</ResourceId>
    <ResourceGroup>azure-learning</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azure-lerning.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>62bdc338-7738-4c53-b22b-14838e473dc8</ProjectGuid>
    <MSDeployServiceURL>azure-lerning.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>azure-lerning</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$azure-lerning</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAgCXIe8lQakGGnK4otNdv/wAAAAACAAAAAAAQZgAAAAEAACAAAABOKMYVlZ2qvmYOScZKNvdIWcPVquW7P8/JkfwzSTZrKgAAAAAOgAAAAAIAACAAAAC0BOwoiUn3lsZh6NYCD2g4okId7JAt4q5SGRvdKDgBsYAAAABWp14fkwTVAsewhMyKOirROH2WpTfB778xqaF6gerWaRoLd1fS+Hnzd5DdhMFSopuLs6Ykr68cH3ubvwlukAD7gpvHmIh+V+W8PVWMr/caLs/YJwijPZ6uuQqD0r98SWCBcvj6DhacUoUmRz/edRErQPGUV0zoSXbfxpBnjbgSOUAAAAAPsxUjFEEupJs9Xatxz6uLpANMyJqazZ9MsHlkT1lZcTMoJREq2fL3uWar9j+NLFsfKnZ0iN5Pt7a1T5BDiZ3I</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
    <RemoteSitePhysicalPath />
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>